*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin: 20px 0;
}
h1 img{
    width: 30%;
    height: 450px;
}

#input{
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    background-color: lightblue;
    margin-left: 250px;
}
#select{
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    background-color: lightblue;
    margin-left: 50px;
}
#sort-select{
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    background-color: lightblue;
    margin-left: 50px;
}

.card{
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
}
.card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.ota{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
